{% extends "layout.html" %}

{% block title %}
About
{% endblock %}

{% block main %}

<section class="my-4 container">
    <div class="has-text-centered">
        <img src="../static/images/tutor logo.png" alt="tutor logo">
        <p class="is-size-4">The Tutor Spot is a non-profit free tutoring service. Students can sign up, choose their tutor, and begin to learn live from people around the world. When you find a tutor you like, feel free to apply to that tutor so that you can message them. Tutors can also register and teach their students.</p>
        <hr class="line">
        <h3 class="is-italic is-size-3">Our mission is to make education affordable and accessible for people from all over the world while using the most up-to-date technologies.</h3>
    </div>
</section>

{% endblock %}